%html

  %head

    %meta{charset: "utf-8"}
    %title= @item[:title]
    %link{rel: "stylesheet", type: "text/css", href: "/assets/style/reset.css", media: "screen"}
    %link{rel: "stylesheet", type: "text/css", href: "/assets/style/main.css", media: "screen"}
    %meta{name: "generator", content: "nanoc 3.1.3"}

  %body

    #page

      = link_to "Small Steps, Big Steps", "/"

      #main= yield

      #footer
        follow me on twitter
        = link_to "@alexmchale", "http://twitter.com/alexmchale"
        or email me at
        = link_to "alexmchale@gmail.com", "mailto:alexmchale@gmail.com"
